<!--<div>This is the questionsShow view.</div>-->
<div class="container" id="question-show-container">
  <div>
    <div>
      <h1>{{questionsShowCtrl.question.title}}</h1>
      <span ng-repeat="tag in questionsShowCtrl.question.tags">
        <span class="label label-info">
          {{tag.text}}
        </span>
      </span>
    </div>
  </div>
  <hr/> {{questionsShowCtrl.question.content}}
  <!--<pagedown-viewer content="questionsShowCtrl.question.content"></pagedown-viewer>-->
  &nbsp;
  <h3>{{questionsShowCtrl.question.answers.length}} Answers</h3>
  <div ng-repeat="answer in questionsShowCtrl.question.answers">
    <hr/>
    <div class="answer">
      {{answer.content}}
      <!--<pagedown-viewer content="answer.content"></pagedown-viewer>-->
    </div>
  </div>
  <hr/>
  <h3>Your answer</h3>
  <form name="answerForm" ng-submit="questionsShowCtrl.submitAnswer()">
    <textarea rows=10 cols=80 ng-model="questionsShowCtrl.newAnswer.content"></textarea>
    <input type="submit" class="btn btn-primary" value="Submit your answer">
  </form>
</div>
